*{margin:0%;
padding: 0%;}

aside {background-color: yellow;
    height: 30%;
    width: 30%;
min-height: 300px;
float: left}


main {background-color: pink;
    height: 30%;
    width: 50%;
min-height: 300px;
float: left}


nav {background-color: red;
    height: 30%;
    width: 20%;
min-height: 300px;
float: left}

footer {
    background-color: blue;
}
