*{margin: 0%;
padding: 0%;}

header {
    height: 30px;
    background-color: lightcoral;
    
;
}
aside {width: 30%;
  min-height: 200px;
  background-color: lightsteelblue;
  float: left;
display: flex;}

Main {
    background-color: lightslategray;
    width: 40%;
    min-height: 200px;
    float: left;
    display: flex;
}

nav {
    background-color: yellow;
    width: 30%;
    min-height: 200px;
    float: right;
    display: flex;

    
}

footer {background-color: blue;}